<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulación de Banco</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="logo">
        <h1>Titanium Bank</h1>
    </div>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <input type="text" id="usuario" placeholder="Usuario">
        <input type="password" id="clave" class="clave" placeholder="Clave" readonly>
        
        <div id="teclado">
            <button class="tecla">1</button>
            <button class="tecla">2</button>
            <button class="tecla">3</button>
            <button class="tecla">4</button>
            <button class="tecla">5</button>
            <button class="tecla">6</button>
            <button class="tecla">7</button>
            <button class="tecla">8</button>
            <button class="tecla">9</button>
            <button class="borrar">Borrar</button>
            <button class="tecla">0</button>
        </div>

        <button id="login">Iniciar Sesión</button>
        <p id="mensaje"></p>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>